{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
